@import "tailwindcss";



@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "satoshi-bold";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@keyframes wiggle {
  0%,
  100%{
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes flash {
  0%{
    transform: translateX(-100%);
    opacity: 1;
  }
  10%{
    opacity: 1;
  }
  100%{
    transform: translateX(200%);
    opacity: 1;
  }
}

.group:hover .group-hover\:animate-flash {
  animation: flash 2s;
  opacity: 1;
}

@custom-variant hover (&:hover);

